# Drone Configuration File - Crazyflie 2.1
# Version: 1.0
# 1:1 match with Python CrazyflieParameters class
name: "Crazyflie_Quad_V1"
body_mesh: "/QuadSimPlugin/Assets/Drone_Models/CrazyFlie/cf2_assembly.cf2_assembly"

physical_properties:
  # Python: self.mass = 0.050 kg
  mass_kg: 0.050
  
  com_offset: {x: 0.0, y: 0.0, z: 0.0}
  
  # Python: Jxx=1.43e-5, Jyy=1.43e-5, Jzz=2.89e-5 kg⋅m²
  # NOTE: Your original had Jzz=2.17e-5, Python has 2.89e-5
  inertia: {x: 1.43e-5, y: 1.43e-5, z: 2.89e-5}
  
  # Crazyflie arm length ~46mm diagonal, ~33mm per arm
  arm_length: 0.033
  
  linear_drag_coef: 0.1
  angular_drag_coef: 0.05

propulsion:
  # Crazyflie 2.1 specs
  prop_diameter: 0.045  # 45mm props
  max_rpm: 21000        # Typical max for stock motors
  max_thrust: 0.15      # TODO: Take out or make both idk # ~15g per motor = 0.15N (4 motors = 0.6N total)
  thrust_coef: 0.24
  torque_coef: 0.006
  
  # Propeller positions (Crazyflie is ~92mm diagonal)
  # Using ~33mm arm length from center
  propellers:
    - {id: 0, x: 0.031, y: -0.031, z: 0.022, dir: -1}   # FL (CCW)
    - {id: 1, x: 0.031, y: 0.031, z: 0.022, dir: 1}   # FR (CW)
    - {id: 2, x: -0.031, y: -0.031, z: 0.022, dir: 1}   # BL (CW)
    - {id: 3, x: -0.031, y: 0.031, z: 0.022, dir: -1} # BR (CCW)

controller:
  # These PID gains are for the cascaded controller (QuadDroneController)
  # The Lee controller uses its own gains (Kx, Kv, KR, KOmega) which are hardcoded
  # to match Python: kx=4.0, kv=3.0, kR=0.8, komega=0.3
  
  position_gains:
    x: {p: 4.0, i: 0.0, d: 0.0}
    y: {p: 4.0, i: 0.0, d: 0.0}
    z: {p: 4.0, i: 0.0, d: 0.0}
  
  velocity_gains:
    x: {p: 3.0, i: 0.0, d: 0.0}
    y: {p: 3.0, i: 0.0, d: 0.0}
    z: {p: 3.0, i: 0.0, d: 0.0}
  
  attitude_gains:
    roll:  {p: 5.0, i: 0.0, d: 0.0}
    pitch: {p: 5.0, i: 0.0, d: 0.0}

  rate_gains:
    roll:  {p: 0.0005, i: 0.0, d: 0.00001}
    pitch: {p: 0.0005, i: 0.0, d: 0.00001}
    yaw:   {p: 0.000075, i: 0.0, d: 0.0}

camera_parameters:
  Cam_Arm_Length: 0.05
  FOV: 100.0
  Cam_Pitch: -15.0
  Cam_Socket_Offset:
    x: -5.0
    y: 0.0
    z: 2.0

limits:
  max_velocity_xy: 2.0
  max_tilt_angle_deg: 30.0
  max_angular_rate_deg: 200.0
  
  # Python: self.max_thrust = 0.6 N (total from all 4 motors)
  max_thrust_newtons: 0.6
  
  max_pid_output: 0.1
  altitude_threshold: 0.1
  min_altitude_local: 0.05
  
  # Python: self.waypoint_tolerance = 0.2 meters
  acceptable_distance: 0.2
  
  altitude_rate: 0.5
  yaw_rate: 90.0
  min_velocity_yaw: 0.1