# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Rider / VS / CLion
.idea/
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Addressables
Assets/AddressableAssetsData/*/*.bin*

# Gradle
.gradle/
